/* OVERFLOW */

.oh {
    overflow: hidden !important;
}

/* Y-OVERFLOW */

.oyo {
    overflow-y: overlay !important;
}

.oya {
    overflow-y: auto !important;
}

.oys {
    overflow-y: scroll !important;
}

.oyh {
    overflow-y: hidden !important;
}

.oyv {
    overflow-y: visible !important;
}

/* X-OVERFLOW */

.oxs {
    overflow-x: scroll !important;
}

.oxh {
    overflow-x: hidden !important;
}

.oxv {
    overflow-x: visible !important;
}

.oxa {
    overflow-x: auto !important;
}
