/* ALL */
.p18 { padding: 18px; }
.p20 { padding: 20px; }

/* HORIZONTAL */
.ph20 { padding-left: 20px; padding-right: 20px; }
.ph26 { padding-left: 26px; padding-right: 26px; }
.ph30 { padding-left: 30px; padding-right: 30px; }
.ph70 { padding-left: 70px; padding-right: 70px; }

/* VERTICAL */
.pv6 { padding-top: 6px; padding-bottom: 6px; }
.pv10 { padding-top: 10px; padding-bottom: 10px; }

/* TOP */
.pt5 { padding-top: 5px; }
.pt6 { padding-top: 6px; }
.pt7 { padding-top: 7px; }
.pt8 { padding-top: 8px; }
.pt10 { padding-top: 10px; }
.pt12 { padding-top: 12px; }
.pt14 { padding-top: 14px; }
.pt18 { padding-top: 18px; }
.pt20 { padding-top: 20px; }
.pt22 { padding-top: 22px; }
.pt24 { padding-top: 24px; }
.pt25 { padding-top: 25px; }
.pt31 { padding-top: 31px; }
.pt47 { padding-top: 47px; }
.pt52 { padding-top: 52px; }

/* BOTTOM */
.pb0 { padding-bottom: 0px; }
.pb5 { padding-bottom: 5px; }
.pb8 { padding-bottom: 8px; }
.pb10 { padding-bottom: 10px; }
.pb14 { padding-bottom: 14px; }
.pb15 { padding-bottom: 15px; }
.pb20 { padding-bottom: 20px; }
.pb22 { padding-bottom: 22px; }
.pb34 { padding-bottom: 34px; }

/* RIGHT */
.pr5 { padding-right: 5px; }
.pr10 { padding-right: 10px; }
.pr13 { padding-right: 13px; }
.pr15 { padding-right: 15px; }
.pr20 { padding-right: 20px; }
.pr22 { padding-right: 22px; }
.pr24 { padding-right: 24px; }
.pr27 { padding-right: 27px; }
.pr50 { padding-right: 50px; }
.pr54 { padding-right: 54px; }
.pr75 { padding-right: 75px; }

/* LEFT */
.pl5 { padding-left: 5px; }
.pl10 { padding-left: 10px; }
.pl13 { padding-left: 13px; }
.pl15 { padding-left: 15px; }
.pl22 { padding-left: 22px; }
.pl24 { padding-left: 24px; }
.pl27 { padding-left: 27px; }
.pl54 { padding-left: 54px; }
.pl50 { padding-left: 50px; }
.pl60 { padding-left: 60px; }
