/* WIDTHS */
.wfill { width: 100% !important; }
.w80p { width: 80% !important; }
.w45p { width: 45% !important; }

.w12 { width: 12px !important; }
.w17 { width: 17px !important; }
.w25 { width: 25px !important; }
.w30 { width: 30px !important; }
.w33 { width: 33px !important; }
.w42 { width: 42px !important; }
.w47 { width: 47px !important; }
.w60 { width: 60px !important; }
.w75 { width: 75px !important; }
.w100 { width: 100px !important; }
.w196 { width: 196px !important; }
.w250 { width: 250px !important; }
.w310 { width: 310px !important; }
.w500 { width: 500px !important; }
.w528 { width: 528px !important; }

/* MAX WIDTHS */
.mxw495 { max-width: 610px !important; }
.mxw508 { max-width: 508px !important; }
.mxw558 { max-width: 558px !important; }

/* MIN WIDTHS */
.mnw100 { min-width: 100px !important; }
.mnw221 { min-width: 221px !important; }
.mnw265 { min-width: 265px !important; }
.mnw495 { min-width: 495px !important; }
.mnw558 { min-width: 558px !important; }
.mnw990 { min-width: 990px !important; }